<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - MyApp</title>
    {% else %}
    <title>Virally</title>
    {% endif %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
  </body>
</html>
